/* css game*/
:root {
  --bg-principal: #c8efee;
  --color-btn: #ffd700;
  --color: #000080;


  --color2: #88d1f2; 
  --color1: #F8F074; 
  --color6: #B1E577; 
  --color5: #D1B9D9; 
  --color4: #EB987A; 
  --color3: #D53E4F; 

}
.game-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--bg-principal);
}
.contaniner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#wheel {
  width: 50vw;
  max-width: 400px;
  height: auto;
  padding: 0;
  border-radius: 100%;
}
.RULETA{
  position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
#spin-btn {
  z-index: 2; 
  position: absolute;
  margin-top: 20px;
  width: 7vw; /* Proporcional al ancho de la pantalla */
  height: 7vw; /* Mantiene un círculo perfecto */
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background: radial-gradient(#fdcf3d 50%, #d88a40 85%);
  color: var(--color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: zoom-in;
  border: 2px solid #fdcf3d;
}
#spin-btn:hover {
  transform: scale(1.15);
}


.arrow-game {
  position: absolute;
  left: 25vw;
  /*right: 70vw;*/
  top: 60%;
  transform: translateY(-50%);
  width: 7vw;
  height: auto;
}
@media (max-width: 1024px) {
  .arrow-game {
      position: relative;
      inset: auto auto -10vw -2vw;

      width: 15vw; /* Escala la flecha proporcionalmente */
  }

  #spin-btn {
      width: 10vw; /* Ajusta el tamaño del botón */
      height: 10vw;
      font-size: 1.5rem; /* Reduce el tamaño del texto en el botón*/ 
  }
  
 
}

@media  (max-width: 768px) {
  
  .arrow-game {
      width: 12vw; /* Escala la flecha proporcionalmente */
      position: relative;
      inset: auto auto -7vw -2vw ;

  }

  #spin-btn {
      width: 15vw; /* Ajusta el tamaño del botón */
      height: 15vw;
      font-size: 1.5rem; /* Reduce el tamaño del texto en el botón*/ 
      margin: 0%;
  }

  #wheel {
      width: 70%; /* Reduce el tamaño de la ruleta */
  }
}

@media (max-width: 480px) {
  .contaniner{
    display: flex;
    flex-direction: column;
  }
  .RULETA{
    width: 90%;
  }
  .arrow-game {
      left:-2vw; /* Mueve la flecha aún más lejos */
      top: -5vw;
      width: 20vw;
      position: relative;
      transform: rotate(90deg);

  }
  #wheel {
    width: 70%; /* Reduce el tamaño de la ruleta */
    padding: 0;
    border-radius: 100%;
}

  #spin-btn {
      width: 15vw;
      height: 15vw;
      font-size: 1rem;
  }
 
}